* {
  font-family: 'Lato', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background-image: url('../images/bgImage2.webp');
  background-size: cover;
  background-repeat: no-repeat;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.bg-container-dark {
  background-color: #272a31;
}

.bg-container-light {
  background-color: #ecebeb;
}

.headline-section {
  padding-top: 60px;
  padding-bottom: 60px;
}

.text-color-orange {
  color: #ec5242;
}

.text-color-light {
  color: #b0b0b0;
}

.text-color-dark {
  color: #44474e;
}

.headline-span {
  font-size: 32px;
}

.headline-h1 {
  font-size: 3.25rem;
  line-height: 4rem;
  background-color: #e0b712;
  background-size: 100%;
  background-image: -webkit-linear-gradient(red, orange);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.main-logo {
  max-width: 50px;
  max-height: 50px;
  margin-right: 10px;
}

.main-program-item:hover {
  border: 2px solid white;
}

.main-program-link {
  color: #cacaca;
}

.main-program-link:hover {
  color: white;
}

.common-hr {
  max-width: 50px;
  background-color: #ec5242;
  border: 1px solid #ec5242;
}

.speaker-hr {
  max-width: 30px;
}

.common-btn {
  background-color: #ec5242;
  color: white;
}

.arrow-icon {
  max-width: 20px;
}

.program-text-desktop {
  text-align: start;
  color: #cacaca;
  font-size: 16px;
}

.about-logo-img {
  width: 300px;
}

.about-card-overlay {
  background-color: #ec5242;
  opacity: 0.8;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.about-card-overlay p {
  z-index: 2;
}

.speaker-img {
  width: 120px;
  height: 120px;
}

#partner-div img {
  max-width: 20%;
}

.program-icon {
  width: 38px;
  height: 38px;
}

/* Code for Deskop version */
@media screen and (min-width: 768px) {
  .navbar {
    background-color: white;
    box-shadow: 3px 3px 5px #ccc;
  }

  .headline-section {
    width: 55%;
    margin-left: 50px;
    padding-left: 50px;
    padding-top: 100px;
    padding-bottom: 100px;
  }

  .progrogram-icon {
    max-width: 40px;
    max-height: 40px;
  }

  .speaker-detail {
    max-width: 50%;
  }

  .about-head-card {
    max-width: 75%;
  }

  .program-text-desktop {
    text-align: center;
  }

  .main-program-item {
    max-width: 180px;
    min-height: 200px;
  }
}
