* {
    font-family: 'Lato', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header {
    background-color: #ecebeb;
}
.headline-content .card-body {
    background-color: #ecebeb;
}

.common-h3 {
  color: #ec5242;
}

.common-hr {
    width: 50px;
    background-color: #ec5242;
    border: 1px solid #ec5242;
}

.common-btn {
    background-color: #ec5242;
    color: white;
}
.speaker-img {
    max-width: 100px;
}
.arrow-icon {
    max-width: 20px;
}
.bg-container {
    background-color: #272a31;
}
@media screen and (min-width: 768px){
    .navbar {
        background-color: white;
        border-bottom: black;
    }
}