* {
  font-family: 'Lato', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background-color: #ecebeb;
}

.headline-section {
    padding-top: 60px;
    padding-bottom: 60px;
  }

.bg-container {
  background-color: #272a31;
}

.bg-container-light {
  background-color: #ecebeb;
}

.text-color {
  color: #ec5242;
}

.text-color-light {
    color: #b0b0b0;
}

.common-h3 {
  color: #ec5242;
}

.common-hr {
  width: 50px;
  background-color: #ec5242;
  border: 1px solid #ec5242;
}

.common-btn {
  background-color: #ec5242;
  color: white;
}

.main-logo {
    max-width: 50px;
    max-height: 50px;
    margin-right: 10px;
}

.arrow-icon {
  max-width: 20px;
}

@media screen and (min-width: 768px) {
  .navbar {
    background-color: white;
    box-shadow: 3px 3px 5px #ccc;
    
  }

  .headline-section {
    width: 55%;
    margin-left: 50px;
    padding-left: 50px;
    padding-top: 100px;
    padding-bottom: 100px;
  }

  .progrogram-icon {
    max-width: 40px;
    max-height: 40px;
  }

  .speaker-img {
    max-width: 30%;
  }

  .speaker-detail {
    max-width: 50%;
  }
  .about-head-card {
    max-width: 75%;
  }
}
